.events {
  width: 100%;
}

.col {
  display: flex;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 80px;
  justify-items: center;
}
.cards1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  justify-items: center;
}

/*card__container{
    padding: 1px;
    border-radius: 15px;
    background: linear-gradient(to left top, #F5EE00, #FF3C00);
} */

.card {
  position: relative;
  height: 250px;
  width: 250px;
  cursor: pointer;
}
.er {
  position: relative;
  height: 600px;
  width: 600px;
  cursor: pointer;
}

.logo_container {
  position: absolute;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
  border-radius: 17px;
  /* background-color: var(--palette-blackgray); */
  /* border: 1px var(--palette-yellow) solid;
  box-shadow: 2px 2px 20px 2px #8673b1; */
  background: rgb(0, 138, 186);
  background: #007ba0;
}
.logo_container1 {
  position: absolute;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95%;
  border-radius: 17px;
  /* background-color: var(--palette-blackgray); */
  border: 2px var(--palette-yellow) solid;
  box-shadow: 4px 4px 20px 4px #068ba3;

  background-color: rgb(10, 172, 190);
}

.logo_container > img {
  height: 220px;
}

.logo_container > p {
  margin-top: 10px;
  font-weight: 600;
  color: var(--palette-yellow);
}

.card:nth-child(7) > .logo_container > p {
  margin-top: 15px;
}

.logo_container > .MuiSvgIcon-root {
  width: 1.8em !important;
  height: 1.8em !important;
  color: var(--palette-yellow);
}

.content_container {
  position: absolute;
  display: flex;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 15px;
  height: 100%;
  background-color: rgb(76, 162, 184);
  border: 3px solid #33302e;
  color: #1b1a1a;
  transform: scale(0);
  border-radius: 100%;
  transition: 0.3s ease;
}

.content_container > p {
  font-size: 20px;
}

.card:hover > .content_container {
  transform: scale(1);
  border-radius: 15px;
  transition: 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 230px;
    height: 230px;
    text-decoration: cadetblue;
  }

  .content_container > p {
    font-size: 13px;
  }
}
